<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Color Picker</title>
</head>
<body style="background-color: {{color}}">
    <form action="/color" method="post">
        <h1>Enter your color values below:</h1>
        <div>
            <p><label>Red:</label><input type="text" name="red"></p>
            <p><label>Green:</label><input type="text" name="green"></p>
            <p><label>Blue:</label><input type="text" name="blue"></p>
            <span class="red">* All values must be between 1 and 255</span>
            <br>
            <input class="submit" type="submit" value="Show my color!">
        </div>
    </form>
</body>
</html>