<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Color Picker</title>
</head>
<body style="background-color: {{color}}">
    <form action="/color" method="post">
        <h1>Enter your color values below:</h1>
        <div>
            <p>Red:</p>
            <p>Green:</p>
            <p>Blue:</p>
        </div>
        <div>
            <p><input type="text" name="red"></p>
            <p><input type="text" name="green"></p>
            <p><input type="text" name="blue"></p>
        </div>
        <p class="red">* All values must be between 1 and 255</p>
        <br>
        <input class="submit" type="submit" value="Show my color!">
    </form>
</body>
</html>